/* Set background color for the entire document */
#body {
  background-color: orchid;
}

/* Center all items and text */
#root {
  display: grid;
  place-items: center;
  text-align: center;
}

/* Style the entire Header component */
#header-wrapper {
  background-color: rebeccapurple !important;
  border: 10px groove yellow;
  color: lavender !important;
  padding: 3%;
  width: 40rem;       /* "rem" = relative to "root-em" */
  margin-top: 1.5%;
}

/* Style the heading element within the Header component,
including adding a text outline using -webkit */
#header {
  font-family: "Rockwell", "Papyrus", fantasy, sans-serif;
  font-size: max(3em);  
  font-weight: 900;
  text-shadow: 7px 7px 10px aliceblue;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkslategray;
}

/* Style the entire Score component */
#score-wrapper {
  background-color: rebeccapurple;
  border: 7px groove yellow;
  color: lavender;
  padding: 2%;
  width: 40rem;
}

/* Style the scoring element within the Score component,
including adding a text outline using -webkit */
#score {
  font-size: max(2em);
  font-weight: bold;
  padding-bottom: 1%;
  text-shadow: 5px 5px 5px aliceblue;
  -webkit-text-stroke-width: 0.77px;
  -webkit-text-stroke-color: darkslategray;
}

/* Style the outermost container of the Card component */
.card {
  margin: 3%;
  padding: 1% auto 1% auto;
  max-width: 33rem;
}

/* Style the title element within the Card component,
which displays the trivia category */
.card-title {
  border-radius: 11px;
  font-size: 2em;
  font-weight: bold;
  padding: 3%;
}

/* Style the text element within the Card component,
which displays the trivia question */
.card-text {
  margin: 5%;
}

/* Style the outermost container of the ButtonGroup & Dropdown components */
.btn-group {
  margin: 3% auto 3% auto !important;
  width: min(50%);
}

/* Style the outermost container of the Dropdown component only */
#btn-dropdown {
  margin-bottom: 200px !important;
}

/* Style all buttons, used in the ButtonGroup & Dropdown components */
[type="button"] {
  padding: 5% !important;
}

/* Style the dropdown menu within the Dropdown component */
.dropdown-menu {
  background-color: lavender !important;
  width: 100%;
}

/* Style the elements of the dropdown menu within the Dropdown component */
.dropdown-item {
  text-align: center !important;
}